.bookContain{
    // min-height: calc(100% - );
    .select-menu{
        float: right;
        margin-top: 1%;
        margin-right: 7%;
    }
    .books{
        display: flex;
       width: 70px;
       height: 40px;
       font: normal normal normal 25px/33px Roboto;
       letter-spacing: 0px;
       color: #0A0102;
       margin-left: 10%;
       margin: 22px 165px;
    }
    .book-len{
        font-size: 12px;
        display: flex;
        flex-direction: row;
        color: #0A0102;
        margin: -48px 235px;
    }
    .displayCard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px;
    margin-left: 4%;

    .card{
        display: flex;
        flex-direction: column;
        border: 1px solid #bbb;
        width: 233px;
        margin-bottom: 3%;
        margin-left: 5%;
        border: 1px solid #E2E2E2;
        border-radius: 3px;
        .imageCard{
            background: #f7f7f7f7;
            text-align: center;
            padding: 30px;
            min-height: 120px;
        }
    }
    .detailsCard{
        text-align: start;
        padding: 0px 20px;
        #name{
            height: 10px;
        }
        #author{
            font-size: 12px;
            color: #bbb;
            height: 10px;
        }
    }
    .btnContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5px;
    .cart-btn {
        background: #A03037;
        color: white;
        font-size: small;
        .wishlist-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;

            margin-left: 5%;
            background-color: white;
            border-radius: 3px;
            border: 2px solid #8b8888;
            color: #0A0102;
            
        }
    }
}
}
.addedBtn {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #3371B5;
    font-size: 12px;
    margin: 0px 12px 8px 12px;
}
.addedBtn1 {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    font-size: 12px;
    margin: 0px 12px 8px 12px;
}
.pagination{
    display: flex;
    justify-content: center;
}
}