.header-menu {
    display: flex;
    // justify-content: center;
    // text-align: center;
    margin-left: 164px;
    .header-title {
        color: white;
    }
    .header-search {
        // background: #fff;
        border: 1px solid;
        border-radius: 5px;
    }

    .header-icons {
        display: flex;
        margin-left: 100%;
        .header-search-icons {
            display: flex;
            margin-left: 30px;
        }
        .header-search-icons1 {
            display: flex;
            margin-left: 60px;
        }
    }
}

@media screen and(max-width:600px) {
    .header-search{
        width: 100px !important;
        border-radius: 30px;
    }
        .header-icons{
            margin: 0px !important;
        }
            .header-search-icons{
                margin: 0px !important;
            }
                .header-search-icons1{
                    margin: 0px !important;
                }
}

@media screen and(max-width:992px) {
    .header-search{
        width: 100px !important;
        border-radius: 30px;
    }
        .header-icons{
            margin: 10px !important;
        }
            .header-search-icons{
                margin: 10px !important;
            }
                .header-search-icons1{
                    margin: 10px !important;
                }
}