.footer {
    background-color: black;
    color: white;
    font-size: 15px;
    align-items: center;
    height: 35px;
    // margin: 10vh 0vw;
    padding-left: 10%;
    min-height: 100%;
    display: flex;
    // margin-top: auto;
    // position: absolute;
    bottom: 0;
}

@media screen and(max-width:992px) {
    .footer{
        
    }
}